
.navbar-badges{
    padding: 2px;
    font-size: 1.5rem;
    align-content: center;
    border-style: double;
    border-color: #5e4f81;
    border-radius: 14px;
    margin: 0.5rem;
    background-color: beige;
}

.icon-class{
    margin-top: 0.6rem;
    margin-right: 0.4rem;
}

.navbar-class{
    background: linear-gradient(rgb(46, 50, 63) 0%, rgb(10, 6, 26) 100%);
    width: 20rem;
    position: absolute;
    height: 100%;
}

.routes{
    position: absolute;
    margin-left: 20rem;
    width: 100%;
}