
.navbar-badges{
    padding: 2px;
    font-size: 1.5rem;
    align-content: center;
    border-style: double;
    border-color: #5e4f81;
    border-radius: 14px;
    margin: 0.5rem;
    background-color: beige;
}

.icon-class{
    margin-top: 0.6rem;
    margin-right: 0.4rem;
}